h1 {
    text-align: center;
    font-size: 250px;
    background-color: crimson;
    color: ghostwhite;
}

.roll {
    width: 200px;
    height: 100px;
    font-size: 50px;
    margin-left: 650px;
    border-color: ghostwhite;
}

.dice {
    margin-left: 125px;
    width: 100px;
    height: 50px;
    font-size:25px;
    border-color: ghostwhite;
}

.reset {
    width: 100px;
    height: 50px;
    margin-left: 100px;
    font-size: 25px;
    border-color: ghostwhite;
}

.total {
    font-size: 50px;
    margin-left: 100px;
    color: ghostwhite;
}

button {
    background-color:crimson;
    color: ghostwhite;
    border-radius: 25px;
}

.d {
    margin-left: 600px;
    width: 300px;
    height: 100px;
    font-size: 100px;
    background-color:crimson;
    color: ghostwhite;
    text-align: center;
    border-radius: 50px;
}

button:hover {
    transform: scale(1.20);
    cursor:pointer;
}

body {
    background-color: black;
}